<!DOCTYPE html>
<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<title>SHE-S</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="pag.css" rel="stylesheet">
<script src="https://d3js.org/d3.v4.js"></script>
<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<script>
    function setQuery(q){
        query=document.getElementById('query')
        query.value = q;
        $('#profile').modal('hide')
        var event = new Event('change');
        query.dispatchEvent(event);
        query.focus();
    }
</script>
            
	</head>
	<body>
		<div class="container">		
			<div class="jumbotron">
				<h3>SHE-S</h3>
				<h4><i>SearcH Engine for Specialist</i></h4>
                
        	</div>
		</div>
		<div class="container">	
            <div ng-app="myApp" ng-controller="myCtrl" align="center">
        <form class="form-inline justify-content-center">
            <div class="form-group" align="center" width="100%">            
                <label for="query"><h5>Busca por especialista &nbsp;&nbsp;</h5></label>
                <input type="text" size="50" ng-model="query" #query id="query" class="form-control" placeholder="nome ou especialidade" (change)="refreshData(this.query)">&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" ng-click="refreshData(this.query)" value="Pesquisar" class="btn btn-info" id="pesquisar" name="pesquisar">Buscar</button>
            </div>
        </form>
            <table class="table table-striped" id="results">
                <thead>
                <tr ng-repeat="x in records" ng-if="$first">
                    <th>Nome</th>
                </tr>
                </thead>
              <tbody>
            	<tr ng-repeat="x in records | orderBy:aOrderBy"> 
            	    <td>
                    <div class="card">
                        <div class="card-body">
                          <h3 class="card-title"><a id="a_{{x.Id}}" ng-click="loadData(x.Id, x.FullName)" data-toggle2="modal" data-target2="#profile">{{x.FullName}}</a></h3>
                          <p class="card-text"><small class="text-muted">{{x.Unit}}</small></p>
                        </div>
                    </div>
            	    </td>
            	    
              	</tr>
                <tr ng-show="records.length < 1">
                    <td></td><td><h4>Nenhum registro encontrado</h4></td>
                </tr>
            	</tbody>
            </table>

            <br>
            <br>
                 <footer class="footer mt-auto py-3" align="left">
                Para acesso aos currículos de todos os servidores do IFNMG, utilize a plataforma <a target="_reccife" href="//reccife.jcloud.net.br/">ReCCIFe</a>.
            </footer>
            <br>
            <br>            
            <footer class="footer mt-auto py-3" align="center">
            	<span>
            		<a href="https://jcloud.net.br/url/InscWiSci2020/"></a>
            		<a href="https://jcloud.net.br/url/WiSci/" target="_new">
            			<img height="50" src="https://www.itinganet.com.br/storage/files/69207/470d0af9ce2cc5423e029169d3b1eb1f">            		
            		</a>
            		&nbsp;&nbsp;&nbsp;
            		<a href="https://jcloud.net.br/url/LabSiCCx/" target="_new">
            			<img height="50" src="https://www.itinganet.com.br/storage/files/45045/dfa48177cb5f1a4ab34534e9cdcc9a6f">
            		</a>
            		&nbsp;&nbsp;&nbsp;
            		<a href="https://jcloud.net.br/" target="_new">
            			<img height="55" src="https://www.itinganet.com.br/storage/files/178668/660f5d1988ab05f54299cf327ec2ab09">
            		</a>
            		&nbsp;&nbsp;&nbsp;
            		<a href="https://jcloud.net.br/url/SNCT2019ARA/" target="_new">
            			<img height="50" src="https://www.itinganet.com.br/storage/files/29648/9da8f6302e4f544edc418cec89f1fb73">            		
            		</a>
            	</span>
            </footer> 
            </div>
		</div>
            <div class="modal fade" id="profile" role="dialog">
                <div class="modal-dialog modal-lg">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                       <h4 class="modal-title" id="modaltitle">Modal Header</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="modalcontent">
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                  
                </div>
            </div>
		
    <script>
    	var app = angular.module('myApp', []);
    	app.controller('myCtrl', function($scope, $http) {
    		$scope.format20=function(x){
                return  ("0000000000000000" + x).slice(-16)
            }	    	
            $scope.loadData = function(id, title){
                $('#modalcontent').empty();
                $('#modaltitle').text(title);
                $('#modalcontent').load('https://jcloud.net.br/social/perfil.php?cv=' + id);
                $("#profile").modal();
            }
    		$scope.refreshData = function (q){
    		    $scope.aOrderBy='Q';
    		    if($scope.lastQuery!=q){
        		    $scope.lastQuery=q;
    		    
        			var url = encodeURI("https://jcloud.net.br/db/GET/Lattes/23002.json?s=F&q=" + $scope.lastQuery);
        			console.log($scope.lastQuery)
        	  		$http.get(url).then(function(response) {
        	     	    $scope.records = response.data;		
        	     	    console.log("RESULTS: " + $scope.records)
        	    	});
    		    }
        	};
    		$scope.aOrderBy='Q';
            $scope.orderByMe = function(x) {
                if($scope.aOrderBy && $scope.aOrderBy.includes(x)){
                    if($scope.order=='-'){
                        $scope.order='';
                    }else $scope.order='-';
                }
                $scope.aOrderBy = $scope.order + x;
                //$scope.aOrderBy = x;
            }            	
        	document.getElementById("query").focus();
    	});
    	app.filter("brdateFilter", function(){
            return function(input) {
                var o = input.replace(/-/g, "/"); // Troca hifen por barra
                return Date.parse(o + " -0000"); 
            };
            });
    //$('body').on('click', '[data-toggle="modal"]', function(e){
     //   console.log($(this).data("target")+' .modal-body')
        //$($(this).data("target")+' .modal-body').load($(this).attr('href'));
    //});             
    </script>
    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p><a style="color:white" href="mailto:abdielbs2000@gmail.com" target="_blank">Contato</a></p>
    </footer>
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/9.js?i=5niewn9qty2" async="async"></script>